.cursor-pointer{
    cursor:pointer;
}
.bg-dark-blue{
    background-color :hsl(207, 26%, 17%) !important;
    transition:0.3s;
 }
.elem-dark-blue{
      background : hsl(209, 23%, 22%) !important;
      transition:0.3s;
}

.elem-dark-blue-lighter{
    background : hsl(204, 23%, 26%) !important;
    transition:0.3s;
}
.elem-light{
    transition:0.3s;
    background:ghostwhite
}
.min-h-100-vh{
    min-height: 100vh;
}
.bg-gray{
    background-color:ghostwhite;
    transition:0.3s;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background : hsl(209, 23%, 60%) !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(209, 23%, 30%) !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }