.cursor-pointer{
    cursor:pointer;
}
.bg-dark-blue{
    background-color :hsl(207, 26%, 17%) !important;
 }
.elem-dark-blue{
      background : hsl(209, 23%, 22%) !important;
      transition:0.3s;
}

.elem-dark-blue-lighter{
    background : hsl(204, 23%, 26%) !important;
    transition:0.3s;
}
.elem-light{
    transition:0.3s;
    background:rgb(247, 246, 246)
}
.min-h-100-vh{
    min-height: 100vh;
}